
body {
    background-color:rgb(44, 44, 44);
    text-align: left;
    margin: 4rem 10%;
    padding: 10px;
}

h1 {
    color: lightgrey;
    padding-top: 0.2rem;
    margin: 0;
    text-decoration: underline;
}

h2 {
    color: lightgrey;
    padding-top: 0.2rem;
    margin: 0;
    text-decoration: underline;
}

h3 {
    color: lightgrey;
    padding-top: 0.2rem;
    margin: 0;
}

h4{
    color: lightgrey;
    padding-top: 0.2rem;
    margin: 0;
}

a {
    color:#fff;
    text-decoration: none;
    
}

li {
    color:#fff;
}


/*
    Custom
*/
.general-info-ul
{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.general-info {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#nav-bar {
   top: 0;
   left: 0;
   right: 0;
   height: 70px;
   transition: 0.2s ease-in-out;
   
}

#nav-link-devlog {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 0px 23px 0px;
    margin: 1.4rem;
    top: 2px;
    opacity: 0.85;
    right: 195px;
    display: inline;
    list-style: none;
} 

#nav-link-home {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 0px 23px 0px;
    margin: 1.4rem;
    top: 2px;
    opacity: 0.85;
    right: 195px;
    display: inline;
    list-style: none;
}

#nav-link-about {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 0px 23px 0px;
    margin: 1.4rem;
    top: 2px;
    opacity: 0.85;
    right: 195px;
    display: inline;
    list-style: none;
}

#nav-link-contact {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 0px 23px 0px;
    margin: 1.4rem;
    top: 2px;
    opacity: 0.85;
    right: 195px;
    display: inline;
    list-style: none;
}

#nav-link-home:hover {
    cursor: pointer;
    border-bottom: 2px solid #fff;
}

#nav-link-about:hover {
    cursor: pointer;
    border-bottom: 2px solid #fff;
}

#nav-link-devlog:hover {
   cursor: pointer;
   border-bottom: 2px solid #fff;
}

#nav-link-contact:hover {
   cursor: pointer;
   border-bottom: 2px solid #fff;
}

p {
    color: #fff;
}